<div class="navbar navbar-inverse navbar-fixed-top">
    <ul>
        {{#if session.loggedin}}
        <li>Welcome {{session.user.username}}</li>
        <li><a href="signout/">Sign out</a></li>
        {{else}}
        <li><a href="/">Sign in</a></li>
        {{/if}}
        <li><a href="/snippets/create">Create a snippet</a></li>
        <li><a href="/snippets">View snippets</a></li>
    </ul>
</div>