<div class="navbar">
    <ul>
        <li>Welcome {{this.username}}</li>
        <li><a href="/">Sign in</a></li>
        <li><a href="/snippets/create">Create a snippet</a></li>
        <li><a href="/snippets">View snippets</a></li>
        <li><a href="/signout/">Sign out</a></li>
    </ul>
</div>