
    </head>
    <body>
        <h1 class="error-status">404</h1>
        <h2 class="error">Page Not Found</h2>
        <p class="error-message">Sorry, but the page you were trying to view does not exist.</p>
    </body>
