
    <body>
        <h1 class="error-status">500</h1>
        <h2 class="error">Internal Server Error</h2>
        <p class="error-message">Sorry, an internal server error has occurred.</p>
    </body>
