        <link rel="stylesheet" href="css/styles.css">
<div class="snippets">
    <span class="far fa-plus-square"></span>
    <h2>Create Snippets</h2>
    <form action="/snippets/create" method="post">
        <label>Title:</label>
        <input type="text" name="title"/>
        <br>
        <textarea name="snippet" placeholder="snippet"></textarea>
        <br>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>