<div class="snippets">
    <h2>Create snippets</h2>
<form method="post" action="/snippets/create">
  <div class="form-group">
    <input type="text" class="form-control" name="description" placeholder="Enter your snippet here" required="required" autofocus="autofocus" />
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Save</button>
</form>
</div>