<div class="snippets">
    <h2>Create Snippets</h2>
    <form action="/snippets/create" method="post">
        <label>Title:</label>
        <input type="text" placeholder="title" name="title"/>
        <br>
        <textarea name="snippet" placeholder="snippet"></textarea>
        <br>
        <button type="submit" class="save-btn">Save</button>
    </form>
</div>