<div class="snippets">
<h1>
  <span class="far fa-edit"></span> Update Snippet
</h1>
<form method="post" action="/update/{{this.id}}">
  <h4>Created by: {{this.username}}</h4>
  <input name="id" value="{{this.title}}" />
    <textarea name="snippet" required="required" autofocus="autofocus">{{this.snippet}}</textarea> 
  <button type="submit" class="update-button" >Update</button>
</form>
</div>
