<div class="snippets">
<h1>
  <span class="far fa-edit"></span> Update Snippet
</h1>
<form method="post" action="/snippets/update">
  <input name="id" value="{{this.title}}" />
    <textarea name="snippet" placeholder="{{this.newSnippet}}" required="required" autofocus="autofocus"></textarea> 
  <button type="submit" class="btn btn-lg btn-primary" >Update</button>
</form>
</div>
