<h1>HELLO THERE</h1>
<div class="signin">
<p>Sign in</p>
<form action="/login/" method="POST">
<input type="text" name="username" placeholder="Username"/>
<br>
<input type="password" name="password" value="" placeholder="Password"/>
<br>
<button class="btn btn-default">Sign in</button>
<a href="/newuser" class="btn btn-info" role="button">New user</a>
</form>
</div>
