<h1>Welcome</h1>
<div class="signin">
    <p>Sign in</p>
    <form method="post" action="/signin/">
    <input type="text" name="username" value="" placeholder="username"/>
    <br>
    <input type="password" name="password" value="" placeholder="password"/>
    <br>
    <button class="btn btn-default">Login</button>
    <a href="/register" class="btn btn-info" role="button">Register</a>
    </form>
</div>
