<h1>Register new user</h1>
<form class="register" method="POST" action="/newuser">
<input type="text" name="username" value="" placeholder="Username"/>
<br>
<input type="email" name="email" value="" placeholder="Email"/>
<br>
<input type="password" name="password" value="" placeholder="Password"/>
<button class="btn btn-primary">Register</button>
</form>