<h1>Create new user</h1>
<form class="register" method="post" action="/register">
<input type="text" name="username" value="" placeholder="username"/>
<br>
<input type="email" name="email" value="" placeholder="email"/>
<br>
<input type="password" name="password" value="" placeholder="password"/>
<br>
<button class="btn btn-primary">Create</button>
</form>