<div class="container">
    <div class="text-center">
        <h1>Create your user!</h1>
        <form class="create-signin" method="post" action="/register">
            <input type="text" name="username" value="" placeholder="username"><br>
            <input type="text" name="name" value="" placeholder="name"><br>
            <input type="email" name="email" value="" placeholder="email"><br>
            <input type="password" name="password" value="" placeholder="new password"><br>
            <button class="waves-effect waves-teal btn-flat">Create user</button>
        </form>
    </div>
</div>